page-route-finished {
  .bar-button {
    color: white;
  }

  .toolbar-title {
    color: white;
  }

  nav {
    background-color: rgb(77, 77, 79);
    height: 100%;
    width: 100%;
  }

  .bg-brown {
    .toolbar-background {
      background-color: #4d4d4d !important;
    }
  }
}
