page-destination {
  #map {
    height: 100%;
  }

  .continue-btn {
    position: absolute;
    bottom: 100px;
    left: 120px;
    z-index: 5;
  }

  .location-btn {
    position: absolute;
    top: 100px;
    left: 120px;
    z-index: 5;
  }

}
